div {
	margin-top: 6%;
    background-color: #C7C7C7;
    width: 60%;
    border: 25px;
    border-style: solid;
    border-color: #1B85F6; 
    padding: 25px;
    margin-left: 10%;
    margin-bottom: 6%;
    padding-left: 4%;
    box-shadow: 8px 8px 4px #666;
    transition: box-shadow 3.0s;
    border-radius: 25px;
}

input.rounded {
	border: 1px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 6px 6px 3px #666;
	-webkit-box-shadow: 6px 6px 3px #666;
	box-shadow: 6px 6px 3px #666;
	transition: box-shadow 3.0s;
	font-size: 20px;
	text-align: center;
	width: 35%;
	margin-top: 15px;
	margin-left: 55px;
	margin-bottom: 20px;
	padding-right:20px;
	padding-left:20px;
	outline: 0;
	-webkit-appearance: none;
}

input.rounded:focus {
	border-color: #2A82ED;
}

label {
	font-size: 20px;

}